<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h4 style="color: lightskyblue;"><a href="/add">Add Posts and Categories</a> </h4>

<div>

    <ul>
        <li style="display: inline-block" th:each="cat : ${categories}"><a th:href="@{/post/getPostByCategory(id=${cat.getId()})}">
            <h3 th:text="${cat.getName()}"></h3></a></li>
    </ul>

</div>

<div style="width: 1200px" th:each="post : ${posts}">

    <a th:href="@{/post/getPostById(id=${post.id})}"> <h3  th:text="${post.getTitle()}"></h3> </a>
    <a th:href="@{/post/getPostById(id=${post.id})}"><img width="150px" th:src="@{/post/getImage(picUrl=${post.getPicUrl()})}" ></a>
    <p th:text="${post.getShortText()}"></p>
    <hr>
</div>

</body>
</html>